@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font1: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif;
$font2: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif;

// Color Palette
$first: #f181a7;
$second: #578ac8;
$third: #231f20;
$fourth: #fabebd;
$fifth: #FFFFFF;
$text: #666f78;
$buttonCTA: #37b558;

.InnerPage {padding-top: 100px}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

$wrapper-width: pxtoem(1140, 16);
// $wrapper-width: 80vw;

body {
	position: relative;
    font-family: $font1;
    margin: 0; padding: 0;
    font-size: 16px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    background: #FFFFFF;
    color: $text;
    line-height: 1.35;
    letter-spacing: 0.46px;
}

.Centered {
    width: $wrapper-width;
    margin: 0 auto;

    @media screen and (max-width: 1600px) {
        width: auto;
    }

    @media screen and (min-width: 1500px) {
        // width: 0%;
        $wrapper-width: 1440px;
    }
}

h1, h2,
h3, h4,
h5, h6 {
    margin-bottom: 24px;
    line-height: 1.25;
    color: $first;
}

h1 {
    letter-spacing: 1px;
    font-family: $font2;
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-family: $font1;
    font-size: 30px;
    font-weight: 600;
    color: $second;
}

h3 {
    font-family: $font1;
    font-size: 28px;
    font-weight: 600;
    color: $third;
}

h4 {
    font-family: $font1;
    font-size: 26px;
    font-weight: 400;
    color: $text;
}

h5 {
    font-family: $font1;
    font-size: 24px;
    font-weight: 600;
    color: $text;
}

p {color: $text}

a {
    color: $first;

    &:visited {color: $second;}

    &:active {color: $third;}
}

.ButtonPrimary {
    background: $buttonCTA;
    color: #FFF !important;
    margin: 8px;
    padding: 16px 24px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    min-width: 200px;
    cursor: pointer;
    opacity: 0.85;

    -webkit-transition: all .4s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    &:hover {
        background: $buttonCTA;
        text-decoration: none;
        opacity: 1;
    }
}

.ButtonSecondary {
    background: $third;
    color: #FFF !important;
    margin: 8px;
    padding: 16px 24px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    min-width: 200px;
    cursor: pointer;
    opacity: 0.85;

    -webkit-transition: all .4s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    &:hover {
        background: $third;
        text-decoration: none;
        opacity: 1;
    }
}