.Footer {
    color: #FFF;
    background: $fifth;
    text-align: center;

    .Centered {padding: 16px}

    .BrewedWithLove {
        background: #34373a;
        padding: 16px;

        p {vertical-align: middle; color: white;}

        svg {max-width: 16px}

        a {color: white;}
    }
}