.Heroshot {
    background: #FFF url(/heroshot-1.jpg) top center no-repeat;
    background-size: cover;
    height: 100vh;

    @media only screen and (max-width: 900px) {
        background: #FFF url(/heroshot-1.jpg) 10% 10% no-repeat;
        height: 70vh;
    }

    .HeroshotMainText {
        padding-top: 35vh;
        padding-left: 35vw;
        text-align: left;
        width: 75vw;

        @media only screen and (max-width: 900px) {
            display: none;
        }

        h1 {
            text-transform: uppercase;
            font-family: $font1;
            margin-bottom: 32px;
            font-size: 95px;
            font-weight: 800;
            line-height: 1.05;
            color: white;

            @media only screen and (max-width: 900px) {
                font-size: 36px;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 1.2;
            font-weight: 600;
            color: white;

            @media only screen and (max-width: 900px) {
                font-size: 24px;
            }
        }
    }
}